NODE_ENV=
PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=

USER_ID_ADMIN=
PASSWORD_ADMIN=

USER_ID_SECADMIN=
PASSWORD_SECADMIN=

REDIS_HOST=
REDIS_PORT=

BOT_API_URL=
BOT_API_KEY=